-# %formmだとsubmitをクリックした時に保存されない　→なぜ？
.form
  = form_with model: @item, local: true do |f|
    = f.text_field :name, placeholder: "40字まで"
    = f.collection_select :size_id, Size.all, :id, :name, { prompt: "選択してください" }
    = f.collection_select :weight_id, Weight.all, :id, :name, { prompt: "選択してください" }
    = f.number_field :price, placeholder: "値段"
    = f.collection_select :shipping_prefecture_id, ShippingPrefecture.all, :id, :name, { prompt: "選択してください" }
    = f.number_field :tax, placeholder: "税金"
    = f.date_select :processing, { prompt: "----", start_year: 1990, end_year: 2100 }
    = f.collection_select :shipping_day_id, ShippingDay.all, :id, :name, { prompt: "選択してください" }
    = f.date_select :expiration_date, { prompt: "----", start_year: 1990, end_year: 2100 } 
    -# = f.collection_select :category_ids, @parents, :id, :name,{prompt: "---"}, class: "select-default", id: "parent-form", name: 'item[category_ids][]'
    = f.submit "送信" 