.list
  %li
    = @item.name
  %li
    = @item.price
  %li
    = @item.tax
  %li
    = @size
  %li
    = @weight
  %li
    = @shipping_prefecture
  %li
    = @shipping_day
  %li
    = @item.processing.strftime('%Y年%m月%d日') #加工日